@import url("https://fonts.cdnfonts.com/css/ica-rubrik-black");
@import url("https://fonts.cdnfonts.com/css/poppins");

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Ensures it stays behind other content */
}

.container {
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.container .carousel {
  position: absolute;
  width: 200px;
  height: 250px;
  top: 10%;
  left: calc(50% - 100px);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: autoRun 20s linear infinite;
  z-index: 4; /* Set z-index for carousel */
}

@keyframes autoRun {
  from {
    transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
  }
  to {
    transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
  }
}

.container .carousel .item {
  position: absolute;
  inset: 0 0 0 0;
  transform: rotateY(
      calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
    )
    translateZ(550px);
}

.container .carousel .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: min(1400px, 100vw);
  height: max-content;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 1; /* Ensure content with h1 is on top of carousel */
}

.container .content h1 {
  font-family: "ICA Rubrik";
  font-size: 2em;
  line-height: 1em;
  color: #eee;
  position: relative;
  z-index: 2;
  text-shadow: 0 0 80px rgba(255, 215, 0, 0.5); /* Golden glow behind text */
}

/* Add a pseudo-element for additional glow effect */
.container .content h1::before {
  content: attr(data-content);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  color: rgba(255, 215, 0, 0.3); /* Golden color with transparency */
  filter: blur(40px);
  -webkit-filter: blur(40px);
  text-shadow: 0 0 100px rgba(255, 215, 0, 0.8);
}

.container .content h1::after {
  position: absolute;
  inset: 0 0 0 0;
  content: attr(data-content);
  z-index: 2;
  -webkit-text-stroke: 2px #d2d2d2;
  -moz-text-stroke: 2px #d2d2d2;
  color: transparent;
}

.container .content .author {
  font-family: Poppins;
  text-align: right;
  max-width: 200px;
  color: #eee;
}

.glow-effect {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12rem;
  height: 12rem;
  background-color: rgb(254, 243, 199);
  border-radius: 50%;
  filter: blur(24px);
  opacity: 0.5;
  z-index: -1;
}

.container .content .model {
  background-image: url(images/file.png);
  width: 100%;
  height: 75vh;
  position: absolute;
  bottom: 0;
  left: 0;
  background-size: auto 130%;
  background-repeat: no-repeat;
  background-position: top center;
  z-index: 0; /* Model image behind content */
}
